@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Save", "Customers", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.Name)
        @Html.TextBoxFor(c => c.Customer.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Customer.BirthDate)
        @Html.TextBoxFor(c => c.Customer.BirthDate, "{0:d MMM yyyy}",new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.DropDownListFor(c => c.Customer.MemberShipTypeId,new SelectList(Model.MemberShipTypes,"Id", "Name"),"Select MemberShip Type", new { @class = "form-control" })
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(c => c.Customer.IsSubscribedToNewsLetter) Subscribe to News Letter?
        </label>
    </div>

    @Html.HiddenFor(c => c.Customer.Id)

    <button class="btn btn-primary" >Save</button>
}